@charset "UTF-8";
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body, ul, li, img, a {
	font-family: 'IBMPlexSansKR-Regular';
	margin: 0;
	padding: 0;
	list-style: none;
		color: black;
	text-decoration:none;
}
#writerListDiv{
	width: 900px;	
	margin:0 auto;
	overflow:auto;
}
#profileBox, #introDiv, #postList{
	width:100%;
	overflow:auto;
	margin-top:2%;
}
#introDiv>div:first-child{
	width:15%;
	float:left;
}
#introDiv>div:last-child{
	width:70%;
	box-sizing:border-box;
	margin:12px;
}
.list li {
	float: left;
	width: 10%;
	height:50px;
	line-height:50px;
	text-align: center;
}
#title>li:nth-of-type(2), #content>li:nth-of-type(5n+2){
	width:50%;
	overflow: hidden;
	text-overflow: ellipsis;
}
#title>li:nth-of-type(3), #content>li:nth-of-type(5n+3){
	width:20%;	
}
#page { /*페이지 div*/
	width: 250px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
}
#page li { /*페이지 1,2,3,4*/
	float: left;
	margin: 10px 10px;
}